name: Run Daily Weather Forecast ETL

on:
  workflow_dispatch:

  schedule:
    - cron: '0 7 * * *'
    # Everyday at 7 AM UTC

jobs:
  build-and-commit:
    runs-on: ubuntu-latest

    env:
      OPENWEATHER_API_KEY: ${{ secrets.OPENWEATHER_API_KEY }}

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Commit Updated Data
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add data/weather_forecast.csv

          if ! git diff-index --quiet HEAD; then
            git commit -m "Update daily weather forecast"
            git push
          else
            echo "No changes to commit"
          fi